body
  font-size: 16px
  color: #141115
  background-color: #FBFFFE

//------- Header -------------
figure
  display: flex
  justify-content: center
  align-items: center
  margin: 1.5rem 0

.title
  text-align: center
  font-family: 'Coustard', serif
  font-size: 2.5rem
  display: inline
  margin: 0

.howto
  text-align: center
  line-height: 2rem

.howto span
  background-color: #FFEB3B
  font-weight: bold
  font-size: 1.2rem

.header__image
  width: 4rem
  height: 4rem
  padding-right: 1rem

//-------- Main content ---------

.codearea
  display: flex
  flex-direction: column
  align-items: center

// ------ Controls -----------

.controls
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.controls__shift
  display: flex
  flex-direction: column
  margin-bottom: 1.5rem

.controls__shift__select
  width: 7.5rem
  height: 2.5rem
  text-align-last: center
  border-radius: 0.25rem
  background-color: white
  padding: 0.25rem

.controls__shift__label
  text-align: center
  padding-bottom: 0.5rem

.controls__button__container
  display: flex

.controls__btn
  padding: 1rem
  margin: 1rem
  border-radius: 0.25rem
  border: none
  color: white
  &:hover
    transform: translateY(-0.15rem)
    cursor: pointer
    box-shadow: 0 2px 2px 2px #95a5a6

.controls__btn--encrypt
  background-color: #e74c3c

.controls__btn--decrypt
  background-color: #2ecc71

.controls__btn i
  padding-right: 0.5rem
  color: white

// -------- Text input ---------
.text-input
  margin: 2rem

.text-input textarea
  padding: 1rem
  border-radius: 0.25rem
  border: 1px lightgrey solid
  width: 100%
  height: auto
  box-sizing: border-box

// --------- Output -----------
.output
  display: none
  padding: 1rem
  margin: 2rem
  border-radius: 0.25rem
  border: 1px lightgrey solid
  width: 32rem
  min-height: 10.6rem
  box-sizing: content-box
  position: relative

.output__text
  margin: 0

@media screen and (max-width: 600px)
  .output
    width: 80%

.output i
  font-size: 10rem
  color: #bdc3c7
  position: absolute
  left: calc(50% - 50px)
  top: calc(50% - 80px)
  z-index: -1
